/* GENERIC */
html {
  height: 100%;
}

* {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  font-size: 18px;
  line-height: 1.45;
}

@media screen and (max-width: 1024px) {
  * {
    font-size: 15px;
  }
}

.divide-right {
  margin-right: 10px;
}

.small-notice {
  font-size: 80%;
}

/* LAYOUT RELATED */
.background {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(/images/background.jpg);

  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1; /*Make it the back element*/
}

/* Logo text */
h2 {
  margin-top: 1.5%;
  margin-left: 2%;
  color: white;
  float: left;
  font-weight: 200;
}

/*Section headers*/
h3 {
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 20px;
}

/* NAVIGATION */
.navigation {
  margin-top: 1.5%;
  margin-right: 2%;
  float: right;
}

.navigation ul {
  list-style: none;
}

.navigation ul li {
  display: inline-block;
  margin-right: 20px;
}

.navigation ul li a:link,
.navigation ul li a:visited {
  line-height: 1em;
  text-decoration: none;
  color: white;
  border-bottom: 3px solid transparent;
}

.navigation ul li a:hover,
.navigation ul li a:active {
  line-height: 1em;
  text-decoration: none;
  color: white;
  padding-bottom: 8px;
  border-bottom: 3px solid #3498db;
  transition: border-bottom 0.2s;
}

/* Content */
.container {
  width: 100%;
  height: 100%;
}

.main-content {
  color: white;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -0%);
}

@media screen and (max-width: 1024px) {
  .main-content {
    top: 30%;
  }
}

/* about section */
.about {
  color: #ffffff;
}

.btn-row {
  margin-top: 20px;
}

.btn-row > * {
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  text-decoration: none;
  border-radius: 25px;
  color: #ffffff;
  padding: 5px;
}

/* Buttons */
.btn:link,
.btn:visited {
  border: 1px solid #2980b9;
}

.btn:hover,
.btn:active {
  background: #3498db;
  transition: 0.2s ease-in;
}

.btn-full:link,
.btn-full:visited {
  background: #2980b9;
}

.btn-full:hover,
.btn-full:active {
  background: #3498db;
  transition: 0.2s ease-in;
  border: 1px solid #2980b9;
}

/*Quote section*/
.quote {
  word-wrap: break-all;
  display: inline-block;
  width: 400px;
  height: 120px;
  margin-right: 5px;
}

@media screen and (max-width: 1024px) {
  .quote {
    width: 90%;
    height: 130px;
  }
}

/*DROPDOWN*/

.hide {
  display: none;
}

.category-dropdown {
  position: absolute;
  display: inline;
}

.category-dropdown ul {
  list-style: none;
  padding: 0;
  padding-left: 3px;
}

.category-dropdown ul li {
  color: #000000;
  padding: 2px 10px;
  border: 1px solid #95a5a6;
  background: #ecf0f1;

}

.category-dropdown ul li:first-child {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px
}

.category-dropdown ul li:last-child {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.category-dropdown ul li:hover {
  background: #3498db;
}